In [1]:
# Importing the necessary libraries 
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

print("Import Successful")

Import Successful

In [2]:
# Set the working directory to where the dataset resides
os.chdir("F:\\Python_Edureka\\projects\\Project_3")

# Verify the set working directory
os.getcwd()

'F:\\Python_Edureka\\projects\\Project_3'

In [3]:
# Importing train_data file into pandas Dataframe
train_data = pd.read_csv("train.csv")

# Display the first five rows of the train_data set
train_data.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [4]:
# Importing test_data file into pandas Dataframe
test_data = pd.read_csv("test.csv")

# Display the first five rows of the test_data set
test_data.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.006836,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.128910,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.012695,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.000000,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812

In [5]:
# Label Encoding the categorical variables of the train_data dataset
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_data["species"] = le.fit_transform(train_data["species"])
train_data.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,3,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,49,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,65,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,94,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,84,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [6]:
# Creating X and y out of the train_data
X = train_data.iloc[:,2:].values
y = train_data.iloc[:,1].values

In [7]:
# Splitting the data using train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 5)

In [8]:
# Applyong Random Forest Classifier for the train_data

from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier(n_estimators = 100)
rf_model = rf_clf.fit(X_train, y_train)

In [9]:
# Predicting the random forest model on the X_test

y_rf_pred = rf_model.predict(X_test)

# Checking the accuracy of the random forest model

from sklearn.metrics import accuracy_score
print("Random Forest Model Accuracy: ", accuracy_score(y_rf_pred, y_test))

Random Forest Model Accuracy:  0.9595959595959596

### Fitting a Support Vector Machine Classifier Model

In [10]:
# Fitting a Support Vector Machine for data

from sklearn import svm
svm_clf = svm.SVC()
model_svm = svm_clf.fit(X_train, y_train)

In [11]:
# Predicting the svm model on the  X_test data

y_svm_pred = model_svm.predict(X_test)

# Checking the accuracy of the svm model

print("SVM accuracy:", accuracy_score(y_svm_pred, y_test))

SVM accuracy: 0.7828282828282829

### Fitting a Naive Bayes Model

In [12]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb_model = gnb.fit(X_train, y_train)

In [13]:
y_pred_gnb = gnb_model.predict(X_test)
print("Naive_Bayes accuracy:", accuracy_score(y_pred_gnb, y_test))

Naive_Bayes accuracy: 0.48484848484848486

### Fitting a Decision Tree Model

In [14]:
from sklearn import tree
dt = tree.DecisionTreeClassifier()
model_dt = dt.fit(X_train, y_train)

In [15]:
y_pred_dt = model_dt.predict(X_test)
print("Decision_tree accuracy:", accuracy_score(y_pred_dt, y_test))

Decision_tree accuracy: 0.5606060606060606

* The classifier with the best accuracy is Random Forest Classifier Model. We apply this model to the test dataset.

### Random Forest Classifier Model on the test dataset

In [16]:
test_data = test_data.iloc[:, 1:]
pred_rf = rf_clf.predict(test_data)

test_data["species"] = le.inverse_transform(pred_rf)
test_data.head()

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64,species
0,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,0.023438,...,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711,Quercus_Agrifolia
1,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,0.023438,...,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922,Quercus_Afares
2,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,0.005859,...,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000,Acer_Circinatum
3,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,0.001953,...,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789,Castanea_Sativa
4,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,0.000000,...,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812,Alnus_Viridis

In [17]:
# Saving the predicted data 
test_data.to_csv("Output.csv", index = True)